_site
_posts
_config.yml
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
index.markdown
about.markdown
Gemfile
Gemfile.lock

node_modules
ignore
.vscode
package-lock.json
Unused

#glitch.css
Start.bat
